@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
  background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000,  #ffffff);
  /* overflow-x: hidden; */

}
::-webkit-scrollbar {
  display: none;
}

*{
  /* border: 1px solid red; */
  /* max-width: 1920px; */
}

.test{
  object-fit: contain;
  /* overflow: hidden; */
}


.contactBtn{
  display: inline-block;
  text-align: center;
  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #ffffff 50%, #000000 50%) right;
  background-size: 200%;
  /* filter: invert(100%); */
  transition: .5s ease-out;
}

.contactBtn:hover{
  background-position: left;
}


#homePage{
  /* background-image: linear-gradient(to right top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000); */
  /* background-image: linear-gradient(to right top, #000000, #000000, #000000,  #ffffff); */
}


#backgroundEffect{
  /* background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #ffffff); */
  /* background-image: linear-gradient(to right top, #000000, #000000, #000000, #000000,  #ffffff); */
  background-image: linear-gradient(to right bottom, #000000, #000000, #000000, #000000, #ffffff);
}

.titleShadow{ 
  text-shadow: 1px 1px white;
}

.smallShadow{
  text-shadow: 1px 1px #14b8a6;
}

#bodyShot{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.swiper-button-prev:after{
  color: white;
  position: relative;
  left: .5rem;
  bottom: 9rem;
  font-weight: bold;
  text-shadow: 0px 5px #000000;
}
.swiper-button-next:after{
  color: white;
  position: relative;
  bottom: 9rem;
  font-weight: bold;
  text-shadow: 0px 5px #000000;
}



@media only screen and (min-width: 768px) {
  .swiper-button-prev:after{
    position: relative;
    left: 2rem;
    bottom: 0;
  }
  .swiper-button-next:after{
    bottom: 0;
  }
}

@media only screen and (min-width: 1071px) {
  .swiper-button-prev:after{
    position: relative;
    left: 12rem;
  }
}

